.name {
    font-size: 40px;
    align-content: center;
    justify-content: center;
}

label {
    padding-right:10px;
}

.fields {
    align-content: right;
}

.row {
    padding-bottom:10px;
}

p {
    padding-bottom: 4px;
    padding-top: 0px;
    margin: 0px;
}